[data-template="spotlight"] .custom-dashed-x {
  position: relative;
}

[data-template="spotlight"] .custom-dashed-x::before,
[data-template="spotlight"] .custom-dashed-x::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-image: linear-gradient(to bottom, #e5d7c4 50%, transparent 50%);
  background-size: 1px 10px;
  z-index: 0;
  pointer-events: none;
}

[data-template="spotlight"] .custom-dashed-x::before {
  left: 0;
}

[data-template="spotlight"] .custom-dashed-x::after {
  right: 0;
}

[data-template="spotlight"] .custom-dashed-t {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #e5d7c4 50%, transparent 50%);
  background-size: 10px 1px;
}

[data-template="spotlight"] .dino-color {
  fill: #535353;
}

[data-template="spotlight"] .custom-solid-x {
  position: relative;
}

[data-template="spotlight"] .custom-solid-x::before,
[data-template="spotlight"] .custom-solid-x::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #d5d0c6;
  pointer-events: none;
  z-index: 50;
}

[data-template="spotlight"] .custom-solid-x::before {
  left: 0;
}

[data-template="spotlight"] .custom-solid-x::after {
  right: 0;
}

[data-theme="dark"][data-template="spotlight"] .custom-dashed-x::before,
[data-theme="dark"][data-template="spotlight"] .custom-dashed-x::after {
  background-image: linear-gradient(to bottom, #3a352e 50%, transparent 50%);
}

[data-theme="dark"][data-template="spotlight"] .custom-dashed-t {
  background-image: linear-gradient(to right, #3a352e 50%, transparent 50%);
}

[data-theme="dark"][data-template="spotlight"] .dino-color {
  fill: #b5afa5;
}

[data-theme="dark"][data-template="spotlight"] .custom-solid-x::before,
[data-theme="dark"][data-template="spotlight"] .custom-solid-x::after {
  background-color: #3a352e;
}
